.ul{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
    cursor: pointer;
    display: flex;
    align-items: end;
    gap: 22px;  
background-image: ;

}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    
}

@font-face {
    font-family: 'GandhiSansRegular';
    src: local('Gandhi Sans Regular'), local('GandhiSansRegular'), url($GandhiSansRegular);
  }
  
  @font-face {
    font-family: 'GandhiSansBold';
    src: local('Gandhi Sans Bold'), local('GandhiSansBold'), url($GandhiSans-Bold.otf);
  }

.html{
    font-family: 'GandhiSansRegular';
}